.tiny.active.inline.loader {
    margin-bottom: 4px;
    margin-left: 4px;
}

.grid.compact .column {
    padding-top: 6px !important;
    padding-bottom: 0 !important;
}

.grid.compact .row {
    padding: 0 !important;
}

.grid.compact {
    padding-top: 8px !important;
    padding-bottom: 30px !important;
}

.student-header-row {
    margin-bottom: 12px !important;
    line-height: 25px;
    cursor: pointer;
    user-select: none;
}

.student-header-row.active {
    margin-bottom: 4px !important;
}

.student-header-row .column {
    padding-top: 0 !important;
    padding-bottom: 4px !important;
}

.student-header-sep {
    display: inline-block;
    padding: 0 4px 0 4px;
}

.student-content {
    margin-bottom: 20px !important;
}

.student-name {
    display: inline-block;
    font-weight: bold;
    padding-right: 16px;
    font-size: 1.2em;
    min-width: 116px;
}

.student-menu-link {
    display: inline-block;
    cursor: pointer;
    padding: 0 4px 0 0;
}

a {
    cursor: pointer !important;
}

.student-menu-link.inactive {
    cursor: default;
}

.collapse-icon {
    color: grey;
    float: right;
    cursor: pointer;
}

.ui.label > .linkify.icon, .ui.label > .unlinkify.icon {
    cursor: pointer;
    margin-right: 0;
    margin-left: .5em;
    font-size: .92857143em;
    opacity: .5;
    transition: background .1s ease;
}

.payment-row {
    background: rgba(157, 211, 255, 0.25)
}

.grid.compact .column {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

.payment-amount {
    display: inline-block !important;
}

.select-link {
    width: 400px;
    /*margin-right: 20px;*/
}

.ui.small.label {
    white-space: nowrap;
}

.label.linkify {
    width: 100%
}

.label.linkify i {
    float: right;
}

.site-title {
    margin-top: 1em !important;
    margin-bottom: 1.5em !important;
}

@media (min-height: 850px) {
    .site-title {
        margin-top: 3em !important;
        margin-bottom: 1.5em !important;
    }
}

@media (min-width: 640px) {
    .site-intro p {
        font-size: 1.2em;
        padding-left: 10%;
        padding-right: 10%;
    }
}

.card.site-title {
    background-color: rgba(203, 220, 255, 0.37) !important;
}

.card.site-title .extra {
    background-color: rgba(203, 220, 255, 0.64) !important;
}

.site-title p {
    color: #687189;
}

.site-intro {
    padding-bottom: 2em;
}

svg.pupil-logo path {
    fill: #5890ff;
}

.site-menu-title {
    color: #687189;
    font-size: 1.5em;
}

.error-message {
    width: 30em;
}

.download-button {
    margin-right: 12px !important;
}

.download-desc {
    white-space: nowrap;
}

.ui.items {
    margin-top: -5px !important;
}

.create-payment > .field {
    padding-bottom: 4px;
}

.ui.labeled.icon.button.fitted {
    padding-left: 1em !important;
    padding-right: 3.5em !important;
}

.button-link {
    background: none;
    color: #3f4a97;
    border: none;
    padding: 0 !important;
    font: inherit;
    /*border is optional*/
    cursor: pointer;
}

.future-lesson {
    color: #b6b6b6;
}

.future-lesson .button-link {
    color: #b6b6b6;
}